.modules 
    display flex 
    flex-direction column
    
    width 100%
    &-item 
        display flex 
        justify-content space-between
        align-items center
        border-bottom 1px solid gray 
        padding .5em 0
        width 100%
        &-image 
            width 120px 
            height 90px
        &-wrapper 
            width 100%
            &-link 
                width 100%
                display block
                text-align left 
                color white 
                font-weight bolder
@media (min-width: 576px) 
    .modules 
        flex-direction row
        align-content center 
        justify-content center
        &-item 
            width 350px
            &-image 
                width 120px 
                height 90px
            &-wrapper 
                &-link 
                    font-size 1.2em
                    
@media (min-width: 1000px) 
    .modules 
        &-item 
            width 350px
            &-image 
                width 160px 
                height 120px
            &-wrapper 
                &-link 
                    font-size 1.4em
          