.option 
    padding 1em .5em
.option-title 
    color #eeeeee 
.option-items 
    display flex 
    justify-content space-between
    align-items center
    flex-wrap wrap

.option-item
    display flex 
    justify-content space-between 
    align-items center
    width 100% 
    padding .5em 0
    border-bottom 1px solid gray
    &-avatar 
        width 80px 
        height 60px
        margin-right .5em
    &-name 
        width 90%
        margin 0 auto
        display block
        border-radius .5em


@media (min-width: 576px) 
    .option-item
        flex-direction column 
        border-bottom 1px solid transparent
        width 350px
        &-avatar 
            height 150px 
            width 200px
            margin-right 0
@media (min-width: 1000px) 
    .option-item
        flex-direction column 
        border-bottom 1px solid transparent
        width 350px
        &-avatar 
            border-radius .5em
            padding .5em  
            margin .5em                                                                                                                                                                     
            height 200px 
            width 250px 